body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #23272a;
    color: #fff;
}

header {
    background-color: #35424a;
    text-align: center;
    padding: 1em 0;
}

#app {
    max-width: 600px;
    margin: 20px auto;
    background-color: #2c2f33;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    animation: fadeInUp 0.5s ease;
}

#task-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#task-input,
#task-date,
#task-note {
    margin-bottom: 10px;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #424a52;
    color: #fff;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

#task-input:focus,
#task-date:focus,
#task-note:focus {
    background-color: #55606e;
    color: #fff;
    border: 2px solid #4CAF50;
    outline: none;
}

button {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#filters {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #2c2f33;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s ease;
    animation: fadeIn 0.5s ease;
}

span {
    flex-grow: 1;
    font-size: 18px;
}

span.date {
    font-size: 14px;
    color: #808080;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/* Nuove animazioni */
.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#github-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

#github-link a {
    text-decoration: none;
}

#github-link img {
    width: 40px;
    height: auto;
    border: 0;
}

